//Colors
$base-color-dark: hsl(217, 19%, 35%);
$base-color-light-dark: hsl(212, 23%, 69%);
$base-color-white: white;

$color-body-background: rgb(234, 240, 246);
$color-body-data: hsl(214, 17%, 51%);

$color-font-title: $base-color-dark;
$color-font-about: $base-color-dark;
$color-font-date: $base-color-light-dark;

$color-link-share: hsl(210, 46%, 95%);
$color-background-networks: $base-color-dark;
$color-font-networks: $base-color-light-dark;
$color-font-share-networks: $base-color-dark;

$color-arrow: $base-color-dark;

//Font sizes
$base-font-size: 13px;

//Font family
$primary-font-family: Manrope;

//Font weight
$primary-font-weight: 500;
$secondary-font-weight: 700;

